# 폴더 구조
!Bluetooth/*
!Devkit/*
!FreeRTOS/*
!Networking/*
!Peripherals/*
!Protocols/*
!Provisioning/*
!Storage/*
!System/*
!Thirdparty/*

# ignore
**/build/
**/sdkconfig
**/sdkconfig.old
**/dependencies.lock
**/managed_components/
**/debug.log

